<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>649089025198-h389ujkdtl2r7eathosa2nh4m79703k6.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.649089025198-h389ujkdtl2r7eathosa2nh4m79703k6</string>
	<key>API_KEY</key>
	<string>AIzaSyBi_8Z1rYSHvBdLhqy9dm6SVo4LJBSin80</string>
	<key>GCM_SENDER_ID</key>
	<string>649089025198</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.phracek.SBohemNaCestach</string>
	<key>PROJECT_ID</key>
	<string>phracek-ios</string>
	<key>STORAGE_BUCKET</key>
	<string>phracek-ios.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:649089025198:ios:8f7777d5834235c3aed93f</string>
	<key>DATABASE_URL</key>
	<string>https://phracek-ios.firebaseio.com</string>
</dict>
</plist>